body {
    background: #F3F3F3;
}

.card {
    width: 350px;
    height: 402px;
    background: #FFFFFF;
    padding: 30px;
    border-radius: 12px;
}
.card h2 {
    font-weight: 600;
    font-size: 20px;

}
.card p{
    font-size: 20px;
    font-weight: 400px;
}

.photo {
    width: 350px;
    height: 150px;
    border-radius: 10px;
}

.info {
    display: flex;
    justify-content: space-evenly;

}
.info p{
    color: rgba(28, 27, 27, 0.60);
    font-size: 20px;
    font-weight: 500;
}

.card-btn {
    width: 350px;
    height: 50px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid #2F80ED;
    background: #2F80ED;
}

.Home-container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.card-containet {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-width: 80px;
    gap: 20px;

}