.cart {
    width: 350px;
    height: 600px;
    background: #FFFFFF;
    padding: 30px;
    border-radius: 12px;
}

h3 {
    color: #2F80ED;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}

.font-tital {
    color: #1C1B1B;
    font-size: 25px;
    font-weight: 500;
}

hr {
    width: 350px;
    background: rgba(28, 27, 27, 0.20);
}

li {
    list-style: none;
    color: rgba(28, 27, 27, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}